<div class="page">

<h2>About The Decade Project</h2>

<div class="aboutframe">
    
    <h3>Why?</h3>
    
    <p>
        The <a href="http://tenyearsofmylife.com/">Ten Years of My Life</a>
        project started roughly 6 months before The Decade Project, and 
        having stumbled upon it and followed it, I wanted to do something similar. I
        thought back over the last 2 years and realised just how much
        had changed in my life in that time, so decided to do something
        just like it. Thus <em>the decade project</em> was born.
    </p>
    
    
    <h3>Inspiration</h3>
    <p>
            As above, my inspiration came from <a href="http://tenyearsofmylife.com/">Ten Years of My Life</a>. There are other sources
        of inspiration: moblogs and what not, but they feature less
        prominantly.
    </p>
    
    <h3>Site setup</h3>
    <p>
      Version 3 (2011-01-30) is a rebuild of version 2 
      as a stand alone Ruby on Rails 3 app, with a focus
      on ease of updates using images uploaded to Flickr.
    </p>
    <p>
        I originally built my own 'photo blog' software:
        <a href="http://patrick.geek.nz/decades/">Decades</a>.
    		v2 of the site ran on top of Ruby on Rails, but was
    		merged with my SimpleLog blog.
    </p>
    
    <h3>Equipment</h3>
    <p>
        <strong>Post August 2005</strong>
		    Photos are usually taken with my Nikon D50. 
		    Occasionally photos may come from 
        someone else if I can convince some one else to take 
        photos and let me have them, well.
        I edit and manage using <a href="http://www.apple.com/aperture/">Aperture</a>.
    </p>
    <p>
        <strong>Prior to August 2005</strong>
		    Photos are usually taken with my Fujifilm Fine Pix S3000,
        a 3.2 megapixel camera or from my Sony Ericsson S700i (phone
        with 1.3 megapixel camera). Occasionally photos may come from 
        someone else if I can convince some one else to take 
        photos and let me have them, well.
        I import using iPhoto or Picasa, then resize using 
        <a href="http://www.macromedia.com/fireworks">Fireworks</a>
        or Adobe Photoshop CS.
    </p>
    
    <h3>Reuse</h3>
    <p>
        Like my flickr stream, I have decided to release all photos under
        <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
        Attribution 3.0 License</a>. Feel free to reuse - attribution
        is the only requirement. If you really want to use one of mine in a way 
        not covered by the license, contact me - I'm open.
    </p>
    
    <h3>Who</h3>
    <p>
        I'm Patrick Quinn-Graham, and I can be reached 
        <a href="http://thepatrick.com.au/make-contact.html">by a 
        number of ways</a>, I've been working on personal websites
        for the last 11 years, of which 
        <a href="http://thepatrick.com.au/">thepatrick.com.au</a> is
        the latest.
    </p>

    <h3>Photos of Me</h3>
    <div class="pom">
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20040321.jpg" alt="Me, March 21 2004" /><br />
        Mar 21, 2004        
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20041230.jpg" alt="Me, Dec 30 2004" /><br />
        Dec 30, 2004        
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20051222.jpg" alt="Me, Dec 22 2005" /><br />
        Dec 22, 2005        
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20060705.jpg" alt="Me, Jul 5 2006" /><br />
        Jul 5, 2006        
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20080525.jpg" alt="Me, May 25 2008" /><br />
        May 25, 2008
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20090823.jpg" alt="Me, Aug 23 2009" /><br />
        Aug 23, 2009
        </div>
        <div style="float: left;">
        <img src="http://cdn.m.ac.nz/decade/ofme/20100203.jpg" alt="Me, Feb 3 2010" /><br />
        Feb 3, 2010
        </div>
        <br clear="both" />
    </div>
    
        
    <!-- <h3>Stats</h3>
    <p>The first photo was posted on {$firstPhotoDate}. Since then {$totalPhotos} photos have been posted. 
    </p> -->
    
</div>
</div>